/* Functions */

@mixin fontFamily($name: Poppins) {
    font-family: $name, sans-serif, system-ui,
        Avenir,
        Helvetica,
        Arial,
        sans-serif;
}


@mixin transition($property: all, $duration: 300ms) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: linear;
}